.switch-wrapper {
  position: relative;
  display: flex;
  /*background-color: #f0f0f0;*/
  border-radius: 50px;
  padding: 3px 6px;
  /*box-shadow: inset 0 0 0 1px #ccc;*/
  overflow: hidden;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(15px);
  border: none;
  box-shadow: none;
}

.option {
  flex: 1;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 1;
  font-size: 0.8rem;
  height: 1.2rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
  transition: color 0.3s ease;
  margin: 0px 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option.active {
  color: rgba(255, 255, 255, 0);
}

.selector {
  position: absolute;
  top: 3px;
  left: 6px;
  width: calc(50% - 6px);
  height: calc(100% - 6px);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50px;
  transition: left 0.3s ease;
}

.selector.right {
  left: calc(50% + 0px);
}
